body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Kanit', sans-serif;
    color: rgb(62, 42, 78);
    font-size: 50px;
}

h4 {
    font-family: 'Kanit', sans-serif;
    font-weight: 50;
    color: rgb(62, 42, 78);
}

#container {
    width: 1200px;
    height: auto;
    padding-bottom: 40px;
    background: rgb(238, 174, 202);
    background: linear-gradient(209deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

#menu {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 25px;
}

.right {
    display: flex;
    justify-content: flex-end;
    width: 800px;
}

.left {
    display: flex;
    justify-content: flex-start;
    width: 800px;
}

a h4{
    padding-left: 40px;
    padding-right: 40px;
}

a h4:hover{
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#cans {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 475px;
    margin-right: 475px;
    border: solid;
    border-color: rgb(62, 42, 78);
    background-color: rgb(238, 174, 202);
    filter: drop-shadow(-6px 6px rgb(62, 42, 78));
}